/* 
  Author: Farhad Bagheri
  Github: https://github.com/cfarhad
*/

.fill-cyan {
  fill: #06b6d4;
}

.fill-sky {
  fill: #0ea5e9;
}

.fill-blue {
  fill: #3b82f6;
}

.fill-indigo {
  fill: #6366f1;
}

.fill-violet {
  fill: #8b5cf6;
}

.fill-pink {
  fill: #ec4899;
}

.fill-rose {
  fill: #f43f5e;
}

.fill-green {
  fill: #22c55e;
}

.fill-orange {
  fill: #f59e0b;
}

.card-icons {
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 576px) {
  .card-icons {
    width: 70px;
    height: 70px;
  }
}

.select2-results__option--selected{
  padding-right: 30px !important;
}

.select2-selection__choice__display{
  margin-right: 15px !important;
}

.dow no-highlight{
  margin: 0 5px !important;
}

.dataTables_empty{
  text-align: center;
}

.select2-selection__clear{
  position: absolute !important;
  right: 20px !important;
}


.table tbody tr td , .table thead th{
  padding-right: 0;
}

.table tbody tr td:last-child{
  padding-left: 0 !important;
}

.card-ticket .card-body{
  min-height: 400px;
  max-height: 400px;
  overflow: auto;
}

.message-box{
  min-height: 50px;
  background: var(--bs-light);
  border: 1px solid var(--bs-secondary);
  border-radius: 0.625rem;
  padding: 10px 20px;
  margin-top: 20px;
}

.message-box.you{
  background: var(--bs-gray-300);
}

.message-box-footer{
  border-top: 1px solid var(--bs-secondary);
  padding-top: 5px;
  margin-top: 20px;
}

.message-box.you .message-box-footer{
  border-color: var(--bs-gray-400);
}

.message-files a:hover i{
  color: var(--bs-primary);
}